<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>50826326129-nucqs7rtr44t37uokq6sab7ibobf8vq9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.50826326129-nucqs7rtr44t37uokq6sab7ibobf8vq9</string>
	<key>API_KEY</key>
	<string>AIzaSyAZ0flrRO2m6QnoctaqAk3PTowSH_YRWKE</string>
	<key>GCM_SENDER_ID</key>
	<string>50826326129</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myorganization.ContactApp</string>
	<key>PROJECT_ID</key>
	<string>contactfirebase-c6d82</string>
	<key>STORAGE_BUCKET</key>
	<string>contactfirebase-c6d82.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:50826326129:ios:4a8a78ada5e32d57f22bd0</string>
</dict>
</plist>